services:
  - type: web
    name: cashify-backend
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: MONGODB_URI
        sync: false
      - key: MONGODB_DATABASE
        value: controlgastos
      - key: SERVER_PORT
        value: 8080
      - key: CORS_ALLOWED_ORIGINS
        sync: false
    healthCheckPath: /api-docs
